src/**
tsconfig.json
.vscode/**
.git/**
.gitignore
**/*.test.ts
**/*.spec.ts
**/.eslintrc*
**/.prettierrc*
CHANGELOG.md
CONTRIBUTING.md
**/*.map
screenshots/**
codereach*.json
codereach*.md
index.html
.codescape.json